<!DOCTYPE html>
<html>

{#{% load staticfiles %}#}

{% block head %}
<head>
<title>(●—●)首页</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
        <link rel="icon" type="image/x-icon" href="/static/brand_img/index.png" />

<link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" /> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="/static/js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="/static/js/move-top.js"></script>
<script type="text/javascript" src="/static/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>
{% endblock %}

{% block style %}
{% endblock %}



<body>
<!-- header -->




{% block top_1 %}
	<div class="agileits_header" style="background-color: #3A3A3A">
        <div class="w3l_offers">
			<a href="{% url 'user:personal' %}" style="padding-left:10px;
			margin-left: 0; padding-right: 10px; background-color: lightseagreen">{{ user.name }}个人中心</a>
		</div>


		<div class="w3l_offers">
			<a style="background-color:#3A3A3A">(●—●) 为您提供最值得信任的品牌和产品 !</a>
		</div>

		<div class="w3l_offers">
			<a style="background-color: #3A3A3A">(●—●) 这里有最周到贴心的服务 ! </a>
		</div>

		<div class="product_list_header">
			<a href="{% url 'order:cart' %}"><div style="cursor: pointer;">
				<span class="glyphicon glyphicon-shopping-cart my-cart-icon"><li class="badge badge-notify my-cart-badge" style="font-size: 1.2em;color:greenyellow">
                    {{ total_count }}</li></span>

			</div></a>
		</div>

		<div class="w3l_header_right">
			<ul>
				<li class="dropdown profile_details_drop">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i><span class="caret"></span></a>
					<div class="mega-dropdown-menu">
						<div class="w3ls_vegetables">

							<ul class="dropdown-menu drp-mnu">
                                {% if user.name %}
								<li>欢迎: {{ user.name }}</li>
								<li><a href="{% url 'user:logout' %}" style="color: brown">退出登录</a></li>
                                {% else %}
								<li><a href="{% url 'user:login' %}">登录</a></li>
								<li><a href="{% url 'user:register' %}">注册</a></li>
                                {% endif %}
							</ul>

						</div>
					</div>
				</li>
			</ul>
		</div>

        <div class="w3l_header_right1">
			<h2><a href="{% url 'order:cart' %}" style="padding-right: 10px;padding-left: 10px">
                去结账</a></h2>
		</div>
		<div class="clearfix"> </div>
	</div>
<!-- script-for sticky-nav -->
	<script>
	$(document).ready(function() {
		 var navoffeset=$(".agileits_header").offset().top;
		 $(window).scroll(function(){
			var scrollpos=$(window).scrollTop(); 
			if(scrollpos >=navoffeset){
				$(".agileits_header").addClass("fixed");
			}else{
				$(".agileits_header").removeClass("fixed");
			}
		 });
	});
	</script>

{% endblock %}











{% block top_2 %}

<!-- //script-for sticky-nav -->
	<div class="logo_products">
		<div class="container">
			<div class="w3ls_logo_products_left" style="margin-left: 350px ;">
				<h1 style="font-size: 25px"><a><span>品质之选</span > 大白手机商城</a></h1>
			</div>
			<div class="w3ls_logo_products_left1">
				<ul class="special_items">
					<li><i>/</i>有保障的品质</li>
					<li><i>/</i>有温度的服务</li>
					<li><i>/</i>有态度的店长</li>
					<li></li>
				</ul>
			</div>
			<div class="w3ls_logo_products_left1">
				<ul class="phone_email">
					<li><i class="fa fa-phone" aria-hidden="true"></i>(+0123) 234 567</li>
					<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:store@grocery.com">superwhite@126.com</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //header -->

{% endblock %}






<!-- products-breadcrumb -->

{% block page_name %}


	<div class="products-breadcrumb" style="">
		<div class="container" >
			<ul>
				<li><i class="fa fa-home" aria-hidden="true"></i><a href="{% url 'user:index' %}">首页</a><span>|</span></li>
			</ul>
		</div>
	</div>
{% endblock %}

<!-- //products-breadcrumb -->



{% block left %}
<!-- banner -->
	<div class="banner">
		<div class="w3l_banner_nav_left">
			<nav class="navbar nav_bottom">

				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav nav_1">
                        {% for brand in brands %}
						<li><a href="{% url 'good:prodocts' brand.id %}">{{ brand.name }}
                            </a></li>
                        {% endfor %}
					</ul>
				 </div><!-- /.navbar-collapse -->
			</nav>
		</div>
{% endblock %}





        {% block main %}
		<div class="w3l_banner_nav_right">

              <!------------------------------广告 大图--------------------------->

            <div class="w3l_banner_nav_right_banner9 w3l_banner_nav_right_banner_pet"
                 style="background-image: url('/{{add1.image}}')">
                <a href="{% url 'good:single' add1.goods.id %}">{{ add1.title }} | <em style="font-size: 0.5em">了解一下</em></a>
			</div>
                <!------------------------------广告 大图--------------------------->



			<div class="w3l_banner_nav_right_banner3_btm">

                <!--------------中号--广告 *3 ----------------------------->
                {% for add3 in add3_list %}
				<div class="col-md-4 w3l_banner_nav_right_banner3_btml">
					<div class="view view-tenth">
						<img src="/{{ add3.image}}" alt=" "  style="width: 400px; height: 266px;"  class="img-responsive" />
						<div class="mask">
							<h4>{{ add3.title }}</h4>
							<p>{{ add3.word }}</p>
						</div>
					</div>
					<h4>{{ add3.title }}</h4>

				</div>
                {% endfor %}

                <!--------------中号--广告 *3 ----------------------------->
				<div class="clearfix"> </div>
			</div>




			<div class="w3ls_w3l_banner_nav_right_grid">
				<h3>首页推荐</h3>

				<div class="w3ls_w3l_banner_nav_right_grid1">
					<h6>高端旗舰</h6>
                    {% for good in goods_gao %}
					<div class="col-md-3 w3ls_w3l_banner_left">
						<div class="hover14 column">
						<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid" style="">
							<div class="agile_top_brand_left_grid_pos">
{#								<img src="/static/images/offer.png" alt=" " class="img-responsive" />#}
							</div>
							<div class="agile_top_brand_left_grid1">
                               <figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="{% url 'good:single' good.goods %}"><img src="/{{ good.goods__spu_img }}" alt=" " class="img-responsive" />
                                                <h4 style="text-align: center;margin:5px auto;">
                                                    {{ good.goods__name }} &nbsp;&nbsp;&nbsp;
                                                    <p style="color: red; margin: 0 auto">¥ {{ good.minprice }} <em style="font-size:13px">起</em></p>
                                                </h4>
                                                <table style="color:gray; font-size: 13px; margin: 5px auto; padding: 0">
                                                    <tr>
                                                        <td style="padding:0 15px">{{ good.goods__screen }}</td><td>{{ good.goods__cpu }}芯片</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding:0 15px;" colspan="2">{{ good.goods__point }}</td>
                                                    </tr>
                                                </table>
                                            </a>
								        </div>
									</div>
								</figure>
							</div>
						</div>
						</div>
					</div>

                    {% endfor %}


					<div class="clearfix"> </div>
				</div>



				<div class="w3ls_w3l_banner_nav_right_grid1">
					<h6>中端爆款</h6>

                    {% for good in goods_zhong %}
					<div class="col-md-3 w3ls_w3l_banner_left">
						<div class="hover14 column">
						<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
{#								<img src="/static/images/offer.png" alt=" " class="img-responsive" />#}
							</div>
							<div class="agile_top_brand_left_grid1">
                               <figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="{% url 'good:single' good.goods %}"><img src="/{{ good.goods__spu_img }}" alt=" " class="img-responsive" />
                                                <h4 style="text-align: center;margin:5px auto;">
                                                    {{ good.goods__name }} &nbsp;&nbsp;&nbsp;
                                                    <p style="color: red; margin: 0 auto">¥ {{ good.minprice }} <em style="font-size:13px">起</em></p>
                                                </h4>
                                                <table style="color:gray; font-size: 13px; margin: 5px auto; padding: 0">
                                                    <tr>
                                                        <td style="padding:0 15px">{{ good.goods__screen }}</td><td>{{ good.goods__cpu }}芯片</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding:0 15px;" colspan="2">{{ good.goods__point }}</td>
                                                    </tr>
                                                </table>
                                            </a>
								        </div>
									</div>
								</figure>
							</div>
						</div>
						</div>
					</div>
                    {% endfor %}



					<div class="clearfix"> </div>
				</div>
				<div class="w3ls_w3l_banner_nav_right_grid1">


					<h6>实惠之选</h6>
                    {% for good in goods_di %}

					<div class="col-md-3 w3ls_w3l_banner_left">
						<div class="hover14 column">
						<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
{#								<img src="/static/images/offer.png" alt=" " class="img-responsive" />#}
							</div>



							<div class="agile_top_brand_left_grid1">
                               <figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="{% url 'good:single' good.goods %}"><img src="/{{ good.goods__spu_img }}" alt=" " class="img-responsive" />
                                                <h4 style="text-align: center;margin:5px auto;">
                                                    {{ good.goods__name }} &nbsp;&nbsp;&nbsp;
                                                    <p style="color: red; margin: 0 auto">¥ {{ good.minprice }} <em style="font-size:13px">起</em></p>
                                                </h4>
                                                <table style="color:gray; font-size: 13px; margin: 5px auto; padding: 0">
                                                    <tr>
                                                        <td style="padding:0 15px">{{ good.goods__screen }}</td><td>{{ good.goods__cpu }}芯片</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding:0 15px;" colspan="2">{{ good.goods__point }}</td>
                                                    </tr>
                                                </table>
                                            </a>
								        </div>
									</div>
								</figure>
							</div>

						</div>
						</div>
					</div>
                    {% endfor %}

					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
        {% endblock %}


		<div class="clearfix"></div>
	</div>
<!-- //banner -->






<!-- newsletter -->
    {% block newsletter %}
	<div class="newsletter">
		<div class="container">
			<div class="w3agile_newsletter_left">
{#				<h3>sign up for our newsletter</h3>#}
			</div>
			<div class="w3agile_newsletter_right">
				<form action="#" method="post">
{#					<input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">#}
{#					<input type="submit" value="subscribe now">#}
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
    {% endblock %}

<!-- //newsletter -->




<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="wthree_footer_copy">
				<p>Copyright &copy; 2019 武汉 大白(手机)商城拥有对此网站的全部所有权
                    <a href="{% url 'user:index' %}" target="_blank" title="大白(●—●)商城">大白商城 版权所有</a>
{#                    - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>#}
                </p>
			</div>

		</div>
	</div>
<!-- //footer -->




<!-- Bootstrap Core JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
<script type="text/javascript" id="snipcart" src="/static/js/snipcart.js" data-api-key="ZGQxNzVjZTItOWRmNS00YjJhLTlmNGUtMDE4NjdiY2RmZGNj"></script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
{#<script type='text/javascript' src="/static/js/jquery.mycart.js"></script>#}
{#<script type="text/javascript">#}
{#  $(function () {#}
{##}
{#    var goToCartIcon = function($addTocartBtn){#}
{#      var $cartIcon = $(".my-cart-icon");#}
{#      var $image = $('<img width="30px" height="30px" src="' + $addTocartBtn.data("image") + '"/>').css({"position": "fixed", "z-index": "999"});#}
{#      $addTocartBtn.prepend($image);#}
{#      var position = $cartIcon.position();#}
{#      $image.animate({#}
{#	  #}
{#      }, 500 , "linear", function() {#}
{#        $image.remove();#}
{#      });#}
{#    }#}
{##}
{#    $('.my-cart-btn').myCart({#}
{#      classCartIcon: 'my-cart-icon',#}
{#      classCartBadge: 'my-cart-badge',#}
{#      affixCartIcon: true,#}
{#      checkoutCart: function(products) {#}
{#        $.each(products, function(){#}
{#          console.log(this);#}
{#        });#}
{#      },#}
{#      clickOnAddToCart: function($addTocart){#}
{#        goToCartIcon($addTocart);#}
{#      },#}
{#      getDiscountPrice: function(products) {#}
{#        var total = 0;#}
{#        $.each(products, function(){#}
{#          total += this.quantity * this.price;#}
{#        });#}
{#        return total * 1;#}
{#      }#}
{#    });#}
{##}
{#  });#}
{#  </script>#}
</body>
</html>