<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-用户中心</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>


	<div class="header_con" style="background-color:#3A3A3A; color: white; height: 50px; font-size: 15px">
		<div class="header" >
			<div class="welcome fl" style="line-height: 50px">大白手机商城  感谢您的支持!!</div>
			<div class="fr" >

				<div class="login_btn fl" style="line-height: 50px">
					<a href="{% url 'user:index' %}" >返回主页 继续买</a>
					<span>|</span>
					<a href="{% url 'user:logout' %}" >退出登录</a>
				</div>
				<div class="user_link fl" style="line-height: 50px">
					<span>|</span>
					<a href="{% url 'user:personal' %}" >用户中心</a>
				</div>
                <div class="user_link fl" style="line-height: 50px">
					<span>|</span>
					<a href="{% url 'order:cart' %}" >我的购物车</a>
				</div>
			</div>
		</div>
	</div>


	<div class="search_bar clearfix">

		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>

	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url 'user:personal' %}" >· 个人信息</a></li>
				<li><a href="{% url 'order:all_order' %}" class="active">· 全部订单</a></li>
				<li><a href="{% url 'user:address' %}" >· 地址管理</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
				<ul class="order_list_th w978 clearfix">
					<li class="col01">2016-8-21 17:36:24</li>
					<li class="col02">订单号：56872934</li>
					<li class="col02 stress">未支付</li>		
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="images/goods02.jpg"></li>
									<li class="col02">嘎啦苹果嘎啦苹果<em>11.80元/500g</em></li>	
									<li class="col03">1</li>
									<li class="col04">11.80元</li>	
								</ul>
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="images/goods02.jpg"></li>
									<li class="col02">嘎啦苹果嘎啦苹果<em>11.80元/500g</em></li>	
									<li class="col03">1</li>
									<li class="col04">11.80元</li>	
								</ul>
							</td>
							<td width="15%">33.60元</td>
							<td width="15%">待付款</td>
							<td width="15%"><a href="#" class="oper_btn">去付款</a></td>
						</tr>
					</tbody>
				</table>
				
				<ul class="order_list_th w978 clearfix">
					<li class="col01">2016-8-21 17:36:24</li>
					<li class="col02">订单号：56872934</li>
					<li class="col02 stress">已支付</li>			
				</ul>
				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="images/goods02.jpg"></li>
									<li class="col02">嘎啦苹果嘎啦苹果<em>11.80元/500g</em></li>	
									<li class="col03">1</li>
									<li class="col04">11.80元</li>	
								</ul>
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="images/goods02.jpg"></li>
									<li class="col02">嘎啦苹果嘎啦苹果<em>11.80元/500g</em></li>	
									<li class="col03">1</li>
									<li class="col04">11.80元</li>	
								</ul>
							</td>
							<td width="15%">33.60元</td>
							<td width="15%">已付款</td>
							<td width="15%"><a href="#" class="oper_btn">查看物流</a></td>
						</tr>
					</tbody>
				</table>

				<div class="pagenation">
					<a href="#"><上一页</a>
					<a href="#" class="active">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">下一页></a>
				</div>
		</div>
	</div>




    <div class="footer" style="background-color: #3A3A3A; padding: 7em; color:burlywood; margin-bottom: 0;">
        <hr style="border:0.5px solid gray">
        <p>Copyright &copy; 2019 武汉 大白(手机)商城拥有对此网站的全部所有权
            <a href="{% url 'user:index' %}" target="_blank" title="大白(●—●)商城" style="color: burlywood">大白商城 版权所有</a>
        </p>
    </div>
	
</body>
</html>