{% extends 'index.html' %}



{% block head %}
<head>
<title>{{ brand_name }} 专区</title>

<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
    <link rel="icon" type="image/x-icon" href="/{{ brand_image }}" />

<link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" /> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="/static/js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="/static/js/move-top.js"></script>
<script type="text/javascript" src="/static/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>
{% endblock %}


{% block page_name %}

	<div class="products-breadcrumb">
		<div class="container">
			<ul>
				<li><i class="fa fa-home" aria-hidden="true"></i><a href="{% url 'user:index' %}">首页</a><span style="color: red">|</span></li>
				<li style="color: white">{{ brand_name }} 品牌页</li>
			</ul>
		</div>
	</div>
{% endblock %}



    {% block main %}

    <!------广告宣传大图--------->
		<div class="w3l_banner_nav_right">

          <!------------------------------广告 大图--------------------------->
        <div class="w3l_banner_nav_right_banner9 w3l_banner_nav_right_banner_pet"
             style="background-image: url('/{{add1.image}}')">
            <a href="{% url 'good:single' add1.goods.id %}">{{ add1.title }} | <em style="font-size: 0.5em">了解一下</em></a>
        </div>
            <!------------------------------广告 大图--------------------------->


            <!------------品牌 logo--------------->
			<div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_sub">
				<h3 class="w3l_fruit" style="font-size: 18px;"> <img src="/{{ brand_image }}" style="margin:0 5px 10px 0;">
{#                    {{ brand_name }}#}
                </h3 >

				<div class="w3ls_w3l_banner_nav_right_grid1 w3ls_w3l_banner_nav_right_grid1_veg">

            <!-------------------->
                    {% for good in goods %}
					<div class="col-md-3 w3ls_w3l_banner_left w3ls_w3l_banner_left_asdfdfd"
                         style="margin-bottom: 20px ">
						<div class="hover14 column">
						<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid" style="">
{#							<div class="agile_top_brand_left_grid_pos">#}
{#								<img src="/static/images/offer.png" alt=" " class="img-responsive" />#}
{#							</div>#}
							<div class="agile_top_brand_left_grid1">

                               <figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="{% url 'good:single' good.goods %}"><img src="/{{ good.goods__spu_img }}" alt=" " class="img-responsive" />
                                                <h4 style="text-align: center;margin:5px auto;">
                                                    {{ good.goods__name }} &nbsp;&nbsp;&nbsp;
                                                    <p style="color: red; margin: 0 auto">¥ {{ good.minprice }} <em style="font-size:13px">起</em></p>
                                                </h4>
                                                <table style="color:gray; font-size: 13px; margin: 5px auto; padding: 0">
                                                    <tr>
                                                        <td style="padding:0 15px">{{ good.goods__screen }}</td><td>{{ good.goods__cpu }}芯片</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding:0 15px;" colspan="2">{{ good.goods__point }}</td>
                                                    </tr>
                                                </table>
                                            </a>
								        </div>
									</div>
								</figure>

							</div>
						</div>
						</div>
					</div>
                    {% endfor %}
            <!-------------------->

					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
    {% endblock %}







