{% extends 'index.html' %}





{% load staticfiles %}



{% block head %}

<head>
<title>{{ goods_name }}</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
     <link rel="icon" type="image/x-icon" href="/{{ goods_img }}" />

<link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" /> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="/static/js/jquery-1.11.1.min.js"></script>
<!-- //js -->
 <script src='/static/js/okzoom.js'></script>
  <script>
    $(function(){
      $('#example').okzoom({
        width: 150,
        height: 150,
        border: "1px solid black",
        shadow: "0 0 5px #000"
      });
    });
  </script>
<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="/static/js/move-top.js"></script>
<script type="text/javascript" src="/static/js/easing.js"></script>

<script src="/static/js/jquery-1.11.1.min.js"></script>

<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>

{% endblock %}


{% block page_name %}

	<div class="products-breadcrumb">
		<div class="container">
			<ul>
				<li><i class="fa fa-home" aria-hidden="true"></i><a href="{% url 'user:index' %}">首页</a><span style="color: red">|</span></li>
			<li style="color: white">{{ goods_name }} </li>
			</ul>
		</div>
	</div>
{% endblock %}

<div class="goods_count fl" id="show_count">{{mycartc}}</div>


      {% block main %}

        <div class="w3l_banner_nav_right">

        <!--------------广告宣传大图 : ----------------->

            <div class="w3l_banner_nav_right_banner9 w3l_banner_nav_right_banner_pet"
                 style="background-image: url('/{{add1.image}}')">
                <a href="{% url 'good:single' add1.goods.id %}">{{ add1.title }} | <em style="font-size: 0.5em">了解一下</em></a>
            </div>




      <!---------单品 详情介绍--------------------->
        <div class="agileinfo_single" style="margin-top: 0px">
                    <h5>{{ goods_name }}</h5>

                    <div class="col-md-4 agileinfo_single_left" style="height: 23em">
                        <img id="example" src="/{{ goods_img }}" alt=" " class="img-responsive" style="width: 22em" />
                    </div>
                    <div class="col-md-8 agileinfo_single_right">
                        <div class="w3agile_description" style="">
{#                            <h4>产品描述 :</h4>#}
                            <p> {{ goods_detail | safe }}</p>
                            <span id="have_choice" style="color: red"></span> &ensp;&ensp;
                            <strong id="show_price" style="margin-left: 0 ;color: red;font-size: 18px;background-color: wheat;">请选取内存</strong>
                            <span id="choice_id" style="display: none">隐藏元素 用来放所选产品的id</span>
                        </div>

                <!----------------- 产品 内存 遍历 显示 -------------------->

                        {% for goodone in good_sku %}

                        <button class="choice_neicun"
                                data1="{{ goodone.price }}"
                                data2="{{ goodone.get_neicun_display }}"
                                data3="{{ goodone.id }}"
                                style="margin-right:1em ">{{ goodone.get_neicun_display }}</button>

                          {% endfor %}
                        <br><br>
                    <div style="">
                        <br>

                        <button id="buy_now" style="margin-right:2em; width:10em; background-color:lightcoral;color: white">
                            立即购买
                        </button>

                        <button id="add_cart" style="width: 10em;background-color: brown; color: white;">
                            加进购物车
                        </button>
                        <span class="ti_shi"></span>

                    </div>
                    </div>
        </div>
                    <div class="clearfix"> </div>
                </div>

            <div class="clearfix"></div>



<!------ 根据内存 局部刷新 价格 ------->

    <script type="text/javascript">
    $('.choice_neicun').click(function () {
        var neicun = $(this).attr('data2');  //选择的内存
        var price = $(this).attr('data1');  //对应的价格
        var idid = $(this).attr('data3');  //对应的id
        $('#show_price').html('¥ '+price);
        $('#have_choice').html('已选:'+neicun)
        $('#choice_id').html(idid)
    });
    </script>
<!--  ------  -------  ------ ------>


<!---点击 加购物车 拿到产品id 传回后端---------------------->
    <script type="text/javascript">
    $('#add_cart').click(function () {
        var idid = $('#choice_id').text();  //获取对应内存的 产品的id
        console.log(idid);
        {#var params = {'sku_id':idid};#}
        $.ajax({
            url:"/order/add_cart/?sku_id="+idid,
            type:'get',
            dataType:'json',
            async:true,
            success:function (data) {
                {#alert(data);#}
                console.log(data['text']);
                {#console.log(typeof(data['text']));#}
                if(data['status']=='1'){
                alert(data['text']);
                var mycart_count = $('.my-cart-badge').html();
                var new_count = parseInt(mycart_count) + 1;
                $('.my-cart-badge').html(new_count)
                };

                if(data['status']=='2'){
                    alert(data['text']);
                };

            },
            error:function (error) {
                console.log(data['text']);
            }
        })
    })
    </script>
<!------------------------->






<!-- brands -->
	<div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_popular" style="background-color:wheat; margin-top: 50px">
		<div class="container">
			<h3 style="font-size: 25px">最 近 浏 览</h3>
				<div class="w3ls_w3l_banner_nav_right_grid1">
{#					<h6>food</h6>#}
					<div class="col-md-3 w3ls_w3l_banner_left">
						<div class="hover14 column">
						<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
								<img src="/static/images/offer.png" alt=" " class="img-responsive" />
							</div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="single_弃之.html"><img src="/static/images/5.png" alt=" " class="img-responsive" /></a>
											<p>knorr instant soup (100 gm)</p>
											<h4>$3.00 <span>$5.00</span></h4>
										</div>
										<div class="snipcart-details">
											<button class="btn btn-danger my-cart-btn hvr-sweep-to-right" data-id="5" data-name="Knorr instant soup" data-summary="summary 5" data-price="3.00" data-quantity="1" data-image="images/5.png">Add to Cart</button>
										</div>
									</div>
								</figure>
							</div>
						</div>
						</div>
					</div>
					<div class="col-md-3 w3ls_w3l_banner_left">
						<div class="hover14 column">
						<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
								<img src="/static/images/offer.png" alt=" " class="img-responsive" />
							</div>
							<div class="agile_top_brand_left_grid1">

								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="single_弃之.html"><img src="/static/images/6.png" alt=" " class="img-responsive" /></a>
											<p>chings noodles (75 gm)</p>
											<h4>$5.00 <span>$8.00</span></h4>
										</div>
										<div class="snipcart-details">
											<button class="btn btn-danger my-cart-btn hvr-sweep-to-right" data-id="6" data-name="Chings noodles" data-summary="summary 6" data-price="5.00" data-quantity="1" data-image="images/6.png">Add to Cart</button>
										</div>
									</div>
								</figure>
							</div>

						</div>
						</div>
					</div>
					<div class="col-md-3 w3ls_w3l_banner_left">
						<div class="hover14 column">
						<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
								<img src="/static/images/offer.png" alt=" " class="img-responsive" />
							</div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="single_弃之.html"><img src="/static/images/7.png" alt=" " class="img-responsive" /></a>
											<p>lahsun sev (150 gm)</p>
											<h4>$3.00 <span>$5.00</span></h4>
										</div>
										<div class="snipcart-details">
											<button class="btn btn-danger my-cart-btn hvr-sweep-to-right" data-id="7" data-name="Haldiram lahsun sev" data-summary="summary 7" data-price="3.00" data-quantity="1" data-image="images/7.png">Add to Cart</button>
										</div>
									</div>
								</figure>
							</div>
						</div>
						</div>
					</div>
					<div class="col-md-3 w3ls_w3l_banner_left">
						<div class="hover14 column">
						<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
								<img src="/static/images/offer.png" alt=" " class="img-responsive" />
							</div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="single_弃之.html"><img src="/static/images/8.png" alt=" " class="img-responsive" /></a>
											<p>premium bake rusk (300 gm)</p>
											<h4>$5.00 <span>$7.00</span></h4>
										</div>
										<div class="snipcart-details">
											<button class="btn btn-danger my-cart-btn hvr-sweep-to-right" data-id="8" data-name="Premium bake rusk" data-summary="summary 8" data-price="5.00" data-quantity="1" data-image="images/8.png">Add to Cart</button>
										</div>
									</div>
								</figure>
							</div>
						</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
		</div>
	</div>
<!-- //brands -->
{% endblock %}



<!------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------->

{% block newsletter %}

{% endblock %}





<!-- Bootstrap Core JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
{#<script type="text/javascript" id="snipcart" src="/static/js/snipcart.js" data-api-key="ZGQxNzVjZTItOWRmNS00YjJhLTlmNGUtMDE4NjdiY2RmZGNj"></script>#}


<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>

<!-- //here ends scrolling icon -->
<script type='text/javascript' src="/static/js/jquery.mycart.js"></script>





<!------点击购买按钮  传数据到后端----------->


{#	<script type="text/javascript">#}
{##}
{#        $(function () {#}
{##}
            {#var count = $('.num_show').val();#}
{#            var count = 1;#}
{#            var total = count * $('.show_pirce em').text();#}
{#            $('#total_ em').text(total.toFixed(2));#}
{##}
{##}
{##}
{#        });#}
		// 数量＋
        {#function add() {#}
        {#    var numa = parseInt($('.num_show').val());#}
        {#    $('.num_show').val(numa+1);#}
        {#    $('.num_show').removeAttr("disabled");#}
        {#    $('.num_show').blur();#}
        {#    total()#}

		// 数量-
        {#function sub() {#}
        {#    var numa = parseInt($('.num_show').val());#}
        {#    if (numa > 1){#}
        {#        $('.num_show').val(numa-1);#}
        {#    }else {#}
        {#        $('.num_show').attr('disabled', 'disabled');#}
        {#    }#}
        {#    $('.num_show').blur();#}
        {#    total();}#}

{##}
{#        function total() {#}
{#            var count = $('.num_show').val();#}
{#            var total = count * $('.show_pirce em').text();#}
{#            $('#total_ em').text(total.toFixed(2));#}
{#        }#}
		{#var $add_x = $('#add_cart').offset().top;#}
		{#var $add_y = $('#add_cart').offset().left;#}
        {##}
		{#var $to_x = $('#show_count').offset().top;#}
		{#var $to_y = $('#show_count').offset().left;#}


		{#$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'});#}

		// 加购物车 异步请求
	{#	$('#add_cart').click(function(){#}
			{#$(".add_jump").stop().animate({#}
			{#	'left': $to_y+7,#}
			{#	'top': $to_x+7},#}
			{#	"fast", function() {#}
			{#		$(".add_jump").fadeOut('fast',function(){#}
			{#			$('#show_count').html(2);#}
			{#		}););#}
	{#		$.ajax({#}
                {#url: '/cart/addcart/?good_id='+ '{{ goodone.id }}'+ '&gcount='+ $('.num_show').val(),#}
    {#            url: '/order/add_cart/?good_id='+ '{{ goodone.id }}'+ '&gcount='+ $('.num_show').val(),#}
    {#            type: 'get',#}
    {#            datatype: 'json',#}
    {#            success:function (data) {#}
					{#console.log(typeof($('.num_show').val()));#}
					{#console.log(typeof($('#show_count').text()));#}
    {#                console.log('okokokokok 添加成功');#}
                    {#$('#show_count').text(parseInt($('.num_show').val()) + parseInt($('#show_count').text()));#}
    {#            },#}
    {#            error:function (error) {#}
    {#            	console.log(error);#}
    {#                alert('添加失败, 请检查网络并重新添加. 失败原因见' + error)#}
    {#            }#}
    {#        })#}
	{#	})#}
    {##}
	{#</script>#}













