<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-用户中心</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

	<div class="header_con" style="background-color:#3A3A3A; color: white; height: 50px; font-size: 15px">
		<div class="header" >
			<div class="welcome fl" style="line-height: 50px">大白手机商城  感谢您的支持!!</div>
			<div class="fr" >

				<div class="login_btn fl" style="line-height: 50px">
					<a href="{% url 'user:index' %}" >返回主页</a>
					<span>|</span>
					<a href="{% url 'user:logout' %}" >退出登录</a>
				</div>
				<div class="user_link fl" style="line-height: 50px">
					<span>|</span>
					<a href="user_center_info.html" >用户中心</a>
					<span>|</span>
					<a href="cart.html" >我的购物车</a>
					<span>|</span>
					<a href="user_center_order.html" >我的订单</a>
				</div>
			</div>
		</div>
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="user_center_info.html">· 个人信息</a></li>
{#				<li><a href="user_center_order.html">· 全部订单</a></li>#}
				<li><a href="user_center_site.html" class="active">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">收货地址</h3>
				<div class="site_con">
					<dl>
						<dt>当前地址：</dt>
						<dd>北京市 海淀区 东北旺西路8号中关村软件园 （李思 收） 182****7528</dd>
					</dl>					
				</div>
				<h3 class="common_title2">编辑地址</h3>
				<div class="site_con">
					<form>
						<div class="form_group">
							<label>收件人：</label>
							<input type="text" name="">
						</div>
						<div class="form_group form_group2">
							<label>详细地址：</label>
							<textarea class="site_area"></textarea>
						</div>
						<div class="form_group">
							<label>邮编：</label>
							<input type="text" name="">
						</div>
						<div class="form_group">
							<label>手机：</label>
							<input type="text" name="">
						</div>

						<input type="submit" name="" value="提交" class="info_submit">
					</form>
				</div>
		</div>
	</div>


    <div class="footer" style="background-color: #3A3A3A; padding: 7em; color:burlywood; margin-bottom: 0;">
        <hr style="border:0.5px solid gray">
        <p>Copyright &copy; 2019 武汉 大白(手机)商城拥有对此网站的全部所有权
            <a href="{% url 'user:index' %}" target="_blank" title="大白(●—●)商城" style="color: burlywood">大白商城 版权所有</a>
        </p>
    </div>
	
</body>
</html>